<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Benjamin_Ramirez">
    <title>Recurrent Neural Net</title>

    <!--Stylesheets-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!--Load JavaScript files -->
    <!-- JQuery before Bootstrap -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


</head>



<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h1 class="text-center"><b>Neural Net Passage Generator</b></h1>
            <h4 class="text-center"><a href="https://github.com/benji-b-rmz/RNN_Words">Source <i class="fa fa-github" aria-hidden="true"></i></a></h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="col-sm-6">
                <h3>Trained on quotes from:<br>"The Hitchhiker's Guide to the Galaxy"<br>by Douglas Adams</h3>
                <a href="https://www.goodreads.com/work/quotes/3078186-the-hitch-hiker-s-guide-to-the-galaxy">quotes found here.</a>
                <br>
                <br>
                <div class="form-group">
                    <h4>Click on 10 words from bank(repeats allowed):</h4>
                    <h4>Your Input:</h4>
                    <br>
                    <div id="input-words"></div>
                    <br>
                    <button id="submit" class="btn btn-success">Generate!</button>
                </div>
            </div>

            <div class="col-sm-6">
                <h3 for="output"><b>Network output:</b></h3>

                <div id="output">
                    Click the words and then generate passage!
                </div>
            </div>

        </div>

        <hr>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>The Word Bank:</h2>
            {% for entry in hh_word_bank %}
                <button class="btn bank-word">{{ entry }}</button>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>

</div>

<script>
    $(document).ready(function () {
        // function to take place when word bank word clicked on
        // adds word to input words div
        $(".bank-word").click( function(){

            console.log("word clicked");
            var word = $(this).text();
            wordDiv = "<div class='input-word btn btn-danger'>" + word + "</div>";
            console.log(word);
            $("#input-words").append(wordDiv);

        });

    });

    //when input word is clicked, remove it from input div
    $(document).on('click','.input-word',function () {

        console.log("clicked on input word");
        $(this).remove();

    });

    // get the words from the divs in the input, send them to tensorflow model on server
    // update output element with the response
    $(document).on('click','#submit',function () {

        console.log("clicked on submit!");
        var words = $('.input-word').map(function() {return $(this).text();}).get().join(' ');
        console.log(words);
        //set output to processing gif while we wait for ajax response
        var gif =  "<div class='text-center'> Processing...<br/><img class='text-center' src='https://railsgirlssummerofcode.org/img/blog/2016/l1ghtsab3r-partyparrot.gif'/> </div>";
        $("#output").html(gif);
        $.ajax({
            url:'/api/storygen',
            method: 'POST',
            contentType: 'text/plain',
            data: words,
            success: function(result){
                $("#output").html(result);
            },
        });
    });

</script>


</body>
</html>