<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Benjamin_Ramirez">
    <title>Recurrent Neural Net</title>

    <!--Stylesheets-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!--Load JavaScript files -->
    <!-- JQuery before Bootstrap -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>

</head>



<body>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h1>Neural Net Passage Generator</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">


            <div class="col-sm-6">
                <h4>Trained on quotes from The Hitchhiker's Guide to the Galaxy</h4>
                <a href="https://www.goodreads.com/work/quotes/3078186-the-hitch-hiker-s-guide-to-the-galaxy">quotes found here.</a>
                <br>
                <br>
                <div class="form-group">
                    <label for="prompt">Input 10 words from text:</label>
                    <input type="text" class="form-control" id="prompt">
                    <button id="submit">Generate!</button>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="output">Network output:</label>
                <div class="p" id="output">

                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col"
    </div>
    {% for entry in hh_word_bank %}
    <button class="btn btn-primary">{{ entry }}</button>
    {% endfor %}

</div>

<script>
    $(document).ready(function () {

        //ajax call to API on user generate request
        $("#submit").click(function () {

            $.ajax({
                url:'/api/storygen',
                method: 'POST',
                contentType: 'text/plain',
                data: $('#prompt').val(),
                success: function(result){
                    $("#output").html(result);
                },
            });
        });


    });
</script>


</body>
</html>